.react-radial-menu__menu-item-path--interactive {
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.react-radial-menu__menu-item-path--interactive:hover {
  filter: contrast(0.75);
}

.react-radial-menu__menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  pointer-events: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
