
.section {
  transition: all 150ms ease-in-out;
}

.section:hover {
  filter: contrast(0.75);
  cursor: pointer;
}

.section-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  pointer-events: none;
}
