:root {
  --zIndex: 666;
  --menu-bgColor: #fff;
  --separator-color: rgba(0, 0, 0, 0.2);
  --item-color: #333;
  --activeItem-color: #fff;
  --activeItem-bgColor: #3498db;
  --arrow-color: #6f6e77;
  --activeArrow-color: #fff;
  --font-family: "Roboto", sans-serif;
  --animation-delay: 150ms;
}
/* ------------------------------- Animations --------------------------------*/
.closing,
.opening {
  opacity: 0;
}
.opened {
  opacity: 1;
}
.closing.base,
.closing.menu,
.opening.base,
.opening.menu {
  scale: 0;
}
.opened.base,
.opened.menu {
  scale: 1;
}
/* ---------------------------------- Menu ---------------------------------- */
.menu {
  position: absolute;
  z-index: var(--zIndex);
  transition: all var(--animation-delay) ease-in-out;
  transform-origin: center;
}
/* ---------------------------------- Base ---------------------------------- */
.base {
  transition: all var(--animation-delay) ease-in-out;
  cursor: pointer;
  fill: var(--menu-bgColor);
  stroke: var(--separator-color);
  transform-origin: center;
}
.base.active {
  fill: var(--activeItem-bgColor);
}
/* --------------------------------- Content -------------------------------- */
.content-wrapper {
  pointer-events: none;
}
.content {
  transition: all var(--animation-delay) ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  pointer-events: none;
  font-family: var(--font-family);
  color: var(--item-color);
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.content.active {
  color: var(--activeItem-color);
}
/* ---------------------------------- Arrow --------------------------------- */
.arrow {
  stroke: var(--arrow-color);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}
.arrow.active {
  stroke: var(--activeArrow-color);
}
/* --------------------------------- Return --------------------------------- */
.return {
  stroke: var(--arrow-color);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4px;
}
.return.active {
  stroke: var(--activeArrow-color);
}
